Esempio08stepFunction/StateMachine/statemachine.yaml
---
StartAt: CopyInputFile
States:
  CopyInputFile:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:s3:copyObject
    Parameters:
      Bucket: ${DestBucket}
      CopySource.$: States.Format('${SourceBucket}/${SourcePath}/{}', $.filename)
      Key.$: States.Format('${DestFilePath}/${DestFileName}-{}', $$.Execution.StartTime)
    ResultPath: null
    Next: DeleteInputFile

  DeleteInputFile:
    Type: Task
    Resource: arn:aws:states:::aws-sdk:s3:deleteObject
    Parameters:
      Bucket: ${SourceBucket}
      Key.$: States.Format('${SourcePath}/{}', $.filename)
    ResultPath: null
    Next: End

#  CreateCopyForXXXX:
#    Type: Task
#    Resource: arn:aws:states:::aws-sdk:s3:copyObject
#    Parameters:
#      Bucket: ${StagingBucket}
#      CopySource.$: States.Format('${StagingBucket}/${SourceStagingPath}/{}-{}', $.filename, $$.Execution.StartTime)
#      Key.$: States.Format('${DestStagingPath}/{}-{}', $.filename, $$.Execution.StartTime)
#    ResultPath: null
#    Next: FtpToXXXX
#
#  FtpToXXXX:
#    Type: Task
#    Resource: arn:aws:states:::lambda:invoke
#    Parameters:
#      FunctionName: ${FtpToXXXXFnArn}
#      Payload:  
#        file:
#          s3bucket: ${StagingBucket}
#          source.$: States.Format('${DestStagingPath}/{}-{}', $.filename, $$.Execution.StartTime)
#          destname: ${FlowFileName}
#    Next: End
  
  End:
    Type: Pass
    End: true
...